$component: 'nav';

.#{$component}{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    margin: auto;
    padding: 1.5rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    max-width: $maxWidth;
    font-size: 2em;
    transform: translateX(-50%);
    
    &__logo{
        position: relative;
        margin-right: 2rem;
        text-transform: lowercase;
        letter-spacing: .3rem;
    }
    &__link{
        position: relative;
        margin-left: 1rem;
        padding-right: .6rem;
        padding-bottom: .2rem;
        font-size: .5em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: .2em;
        color: $color-black;
        border-bottom: 1px solid $color-black;
        &:after{
            content:"";
            position: absolute;
            top: 50%;
            right: 0;
            height: .5rem;
            width: .5rem;
            background-color: $color-yellow;
            border-radius: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(2):after{
            background-color: $color-orange;
        }
        &:nth-child(3):after{
            background-color: $color-red;
        }
    }
}