<nav class="nav">
    <span class="nav__logo">Thunder</span>
    <div class="nav__section">
        <a class="nav__link" href="#">Home</a>
        <a class="nav__link new-deals" href="/shop">Shop</a>
        <a class="nav__link hot-deals" href="#">Clearance</a>
        <a class="nav__link" href="#contact">Contact</a>
    </div>
</nav>